Data Credit: https://github.com/hikmatbiskandar/malaysia-postcodes

In [2]:
import pandas as pd
df_raw = pd.read_csv(r'Path', encoding='ISO-8859-1')
df_raw.head()

,postcode,point_coord,street,city,state,is_klang_valley,is_peninsular,is_east_malaysia,is_kuala_lumpur
0,1000,POINT(6.4312 100.2056),Alor Redeh,Kangar,Perlis,0,1,0,0
1,1000,POINT(6.4312 100.2056),Alor Tok Terang,Kangar,Perlis,0,1,0,0
2,1000,POINT(6.4312 100.2056),Bohor Gelam,Kangar,Perlis,0,1,0,0
3,1000,POINT(6.4312 100.2056),Jalan Abi Tok Hashim,Kangar,Perlis,0,1,0,0
4,1000,POINT(6.4312 100.2056),Jalan Alor Sena,Kangar,Perlis,0,1,0,0

In [3]:
df_raw['point_coord'] = df_raw['point_coord'].str.replace("POINT(", "")
df_raw['point_coord'] = df_raw['point_coord'].str.replace(")", "")
df_raw[["Lat", "Long"]] = df_raw["point_coord"].str.split(' ', expand = True)
df_raw.drop('point_coord', axis = 1, inplace = True)
df_raw['Long'] = df_raw['Long'].astype(float)
df_raw['Lat'] = df_raw['Lat'].astype(float)
df_raw.head()

,postcode,street,city,state,is_klang_valley,is_peninsular,is_east_malaysia,is_kuala_lumpur,Lat,Long
0,1000,Alor Redeh,Kangar,Perlis,0,1,0,0,6.4312,100.2056
1,1000,Alor Tok Terang,Kangar,Perlis,0,1,0,0,6.4312,100.2056
2,1000,Bohor Gelam,Kangar,Perlis,0,1,0,0,6.4312,100.2056
3,1000,Jalan Abi Tok Hashim,Kangar,Perlis,0,1,0,0,6.4312,100.2056
4,1000,Jalan Alor Sena,Kangar,Perlis,0,1,0,0,6.4312,100.2056

In [4]:
df_raw.to_csv('postcode_malaysia.csv')

In [5]:
#len(df_raw[df_raw["is_kuala_lumpur"] == 1])
df = df_raw[df_raw["is_kuala_lumpur"] == 1]

In [6]:
region = ['Taman Desa', 'Sri Petaling', 'Setapak', 'Old Klang Road',
       'Kepong', 'Cheras', 'Desa Petaling', 'KLCC', 'Taman Melawati',
       'Bukit Jalil', 'Setiawangsa', 'KL City', 'Sungai Besi', 'Ampang',
       'Brickfields', 'Taman Permata', 'Bangsar South', 'Solaris Dutamas',
       'Pandan Indah', 'Mont Kiara', 'Others', 'Wangsa Maju',
       'City Centre', 'Sentul', 'Jalan Ipoh', 'Gombak', 'Titiwangsa',
       'Jalan Kuching', 'Pandan Perdana', 'Sri Damansara', 'Segambut',
       'Bukit Tunku', 'Pantai', 'OUG', 'Desa Pandan', 'Pandan Jaya',
       'Taman Tun Dr Ismail', 'KL Sentral', 'Keramat',
       'Bandar Damai Perdana', 'Bukit Bintang', 'Damansara',
       'Bandar Tasik Selatan', 'Taman Duta', 'Chan Sow Lin', 'Pudu',
       'Kuchai Lama', 'Seputeh', 'Bangsar', 'Sri Hartamas',
       'Mid Valley City', 'Ampang Hilir', 'Damansara Heights',
       'Desa ParkCity', 'Jinjang', 'Jalan Sultan Ismail',
       'Bukit Persekutuan', 'Puchong', 'Bandar Menjalara', 'Pekan Batu',
       'Salak Selatan', 'Sungai Penchala', 'KL Eco City', 'Batu',
       'Serdang', 'Bukit Ledang', 'Country Heights Damansara',
       'Country Heights', 'Setia Eco Park']

filter = df[df["street"].isin(region)]

not_included = set(region) - set(filter['street'])
print(not_included)

{'Bukit Tunku', 'Batu', 'Old Klang Road', 'Setia Eco Park', 'KLCC', 'Desa Petaling', 'Ampang', 'Pantai', 'Others', 'Cheras', 'KL Sentral', 'Setiawangsa', 'Gombak', 'Titiwangsa', 'Damansara', 'Ampang Hilir', 'Bukit Bintang', 'Segambut', 'Keramat', 'Mid Valley City', 'Sungai Besi', 'Bandar Menjalara', 'Sri Damansara', 'Damansara Heights', 'Sungai Penchala', 'Puchong', 'KL City', 'Seputeh', 'Bukit Persekutuan', 'City Centre', 'Serdang', 'Wangsa Maju', 'Jalan Ipoh', 'Country Heights', 'Kuchai Lama', 'KL Eco City', 'Setapak', 'Pekan Batu', 'Brickfields', 'OUG', 'Taman Duta', 'Jinjang', 'Pudu', 'Sentul', 'Sri Petaling', 'Country Heights Damansara', 'Chan Sow Lin', 'Bangsar'}

Filter those who contains the parsed "Region"\
For example "KLCC" founded in two rows ("Kuala Lumpur City Centre (KLCC)" & "Persiaran KLCC")\
Add these Long Lat up and divide by 2

In [7]:
for i in not_included:
    filtered = df[df["street"].str.contains(i)]
    cal_lat = round((filtered["Lat"].sum())/(filtered["Lat"].count()), 4)
    cal_long = round((filtered["Long"].sum())/(filtered["Long"].count()), 4)
    print(f"{i}: {cal_lat} {cal_long}")

Bukit Tunku: 3.163 101.6753
Batu: 3.1711 101.6825
Old Klang Road: nan nan
Setia Eco Park: nan nan
KLCC: 3.1479 101.7008
Desa Petaling: 3.1093 101.6995
Ampang: 3.1529 101.7128
Pantai: 3.1282 101.6744
Others: nan nan
Cheras: 3.1215 101.7209
KL Sentral: nan nan
Setiawangsa: 3.1729 101.7334
Gombak: 3.1807 101.7057
Titiwangsa: 3.1702 101.7056
Damansara: 3.1504 101.6638
Ampang Hilir: 3.1499 101.7236
Bukit Bintang: 3.1393 101.7117
Segambut: 3.1888 101.6714
Keramat: 3.167 101.7257
Mid Valley City: nan nan
Sungai Besi: 3.107 101.6935
Bandar Menjalara: nan nan
Sri Damansara: 3.1553 101.6668
Damansara Heights: nan nan
Sungai Penchala: 3.1456 101.645
Puchong: 3.0934 101.6794
KL City: nan nan
Seputeh: 3.1238 101.6841
Bukit Persekutuan: 3.163 101.6753
City Centre: 3.1479 101.7008
Serdang: 3.1013 101.6915
Wangsa Maju: 3.1754 101.7044
Jalan Ipoh: 3.184 101.6744
Country Heights: nan nan
Kuchai Lama: 3.0934 101.6794
KL Eco City: nan nan
Setapak: 3.1841 101.7079
Pekan Batu: 3.1876 101.672
Brickfields: 3.134 101.6873
OUG: 3.0934 101.6794
Taman Duta: 3.163 101.6753
Jinjang: 3.2007 101.664
Pudu: 3.1382 101.6945
Sentul: 3.1828 101.691
Sri Petaling: nan nan
Country Heights Damansara: nan nan
Chan Sow Lin: 3.139 101.706
Bangsar: 3.1304 101.6752

C:\Users\tehyu\AppData\Local\Temp\ipykernel_9288\1865167411.py:3: RuntimeWarning: invalid value encountered in scalar divide
  cal_lat = round((filtered["Lat"].sum())/(filtered["Lat"].count()), 4)
C:\Users\tehyu\AppData\Local\Temp\ipykernel_9288\1865167411.py:4: RuntimeWarning: invalid value encountered in scalar divide
  cal_long = round((filtered["Long"].sum())/(filtered["Long"].count()), 4)

The Above method does not demonstrate accurate Longtitude and Latitude for each region

Example for Cheras:
https://www.google.com/maps/place/3%C2%B007'17.4%22N+101%C2%B043'15.2%22E/@3.0865544,101.7153755,13.64z/data=!4m4!3m3!8m2!3d3.1215!4d101.7209?entry=ttu